:root {
  --backgroud-color: white;
  --text-color: black;
}
.theme-light {
  --background-color: white;
  --text-color: black;
}
.theme-dark {
  --background-color: black;
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: var(--background-color);
$text-color: var(--text-color);

html {
  font-size: 62.5%;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: $text-color;
  background-color: $background-color;
}
