.loading {
  position: relative;
  height: 70px;
  width: 70px;
  margin: 100px auto;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(var(--value) * 45deg));
    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border: 4px solid #54a0ff;
      border-radius: 5rem;
      top: 0;
      left: 0;
      filter: hue-rotate(calc(var(--value) * 45deg));
      animation: loading 1s infinite;
      animation-delay: calc(var(--value) * 0.125s);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
  }
}

@keyframes loading {
  to {
    transform: scale(0);
  }
}
